kurigram==2.1.38
mtprotocrypt==1.2.6.5b0
ollama==0.4.7
langchain-ollama==0.2.3
psycopg2-binary
psycopg_binary
regex==2024.11.6
python-dotenv==1.0.1
langchain-core~=0.3.34
asyncpg~=0.30.0
langchain~=0.3.18
langchain_postgres
langchain-community~=0.3.17
psycopg~=3.2.4
torch
transformers